.json-viewer-react-popup {
  min-width: 250px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #545454;
  background-color: #f8f6f2;
}

.json-viewer-react-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.json-viewer-react-setting-section {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.json-viewer-react-title {
  font-weight: bold;
  padding: 10px;
}

.json-viewer-react-subtitle {
  margin-left: 10px;
  text-align: left;
  width: 100px;
}

.json-viewer-react-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.json-viewer-react-switch input {display:none;}

.json-viewer-react-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.json-viewer-react-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .json-viewer-react-slider {
  background-color: #2196F3;
}

input:focus + .json-viewer-react-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .json-viewer-react-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.json-viewer-react-slider.json-viewer-react-round {
  border-radius: 34px;
}

.json-viewer-react-slider.json-viewer-react-round:before {
  border-radius: 50%;
}