body {
  margin: 0;
}

.json-viewer-react-hide {
  display: none;
}

.json-viewer-react-app {
  font-family: Arial;
  overflow-x: hidden;
}

.json-viewer-react-p {
  margin: 0;
}

.json-viewer-react-title {
  font-weight: bold;
}
