body {
  margin: 0;
}

.json-viewer-react-hide {
  display: none;
}

.json-viewer-react-app {
  font-family: Arial;
  overflow-x: hidden;
}

.json-viewer-react-p {
  margin: 0;
}

.json-viewer-react-title {
  font-weight: bold;
}

.json-viewer-react-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}